extends layout


block contents
	header(class="bar-title")
		h1(class="title")Ratchet

	div(class="content")
		div(class="img-element first", id="add-button")
			img(src="/img/coPhoto_addButton.png")
		div(class="img-element")