extends layout


block contents
	header(class="bar-title")
		h1(class="title")
			|いえーい！
		a(class="button", id="add_button", href="#")
			|+

	div(class="content")

		input(type="file",id="file", name="hoge", multiple="multiple")